<header id="header" class="topBar home">
	<div class="site helpCenter__site noBreadcrumb" role="navigation">
		<div class="logo">
			<a href="{{ "/" | relative_url }}">
				<img style="width:150px;height:60px" class="navbar-logo" src="{{ site.baseurl }}/photos/noite.jpg" alt="{{ site.title }}" />
			</a>
		</div>
		<div class="titleMap"></div>
	</div>
	<div id="defaultmenu" class="last">
		<div class="user">{% include navigation.html navigation=site.data.navigation %}


<div class="mobileMenu hamburger" data-open-popin="menuMobile">
	<span></span>
		<span></span>
			<span></span>
</div>


		</div>
	</div>
	</nav>
</header>